<span style="color:DodgerBlue;"><p style="color:Tomato;">Hey Fellas</p> 
    this application is designed in leisure time within three days , as i was learning ruby on rails.
    so yeahh, there will be many bugs!
    so if found any please reach out to me , or you can do that using github 
</span> 
<br><br>
<div style="color:MediumSeaGreen;"> 
    so the application question manager is designed for managing the questions you have attempted or solved ,
    in this digital world where everything is on internet ,we try to solve question from particular website , 
    and forget which question we have already solved or attempted . many times it happened that after some interval(in terms of days) 
    we open same site and repeat the easy or medium problem again and again , leaving the hard problems or forget which questions 
    we have already attempted and was not able to solve that one. 
</div> 
<br><br>
<div style="color:Tomato;"> 
    after logging in , you can add subjects and the number of questions in that ,and after that as you carry on to solve some 
    problems, you can update the one . 
    if you marked any question solved then that will not be visible in unattempted and attempted one . 
    the unattempted question can be marked in attempted and to solved one . 
</div>
<br><br>
<div style="color:DodgerBlue;"> 
    so yeah, i was having this issue. so tried to solve this . 
    if you are using this , always remeber your username and password , because forgot password has not been implemented🥵🤬🤡
</div>
<br> 
<div>
    <a href="https://www.instagram.com/_kapil41/">kapil</a>
</div>
